# --- Python Basics ---
__pycache__/
*.pyc

# --- Environments ---
venv/
.venv/
env/

# --- Testing ---
.pytest_cache/

# --- Packaging & Build (Created by pip install -e .) ---
build/
dist/
*.egg-info/

# --- IDE Settings ---
.vscode/

# --- Local/Private Files ---
app.py
test.qasm
test.py